body{
  background-color: #484846;
}

footer {
  max-width: 1180px;
  margin: auto;
  min-height: 45px;
  background-color: black;
  padding: 15px;
}

@media (min-width: 768px) {
  footer {
    width: 760px;
  }
}
@media (min-width: 992px) {
  footer {
    width: 980px;
  }
}
@media (min-width: 1200px) {
  footer {
    width: 1180px;
  }
}

.my-jumbotron{
  max-width: 1170px;
  margin: auto;
  padding: 15px;
  padding-top: 70px;
}

@media (min-width: 768px) {
  .my-jumbotron {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .my-jumbotron {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .my-jumbotron {
    width: 1170px;
  }
}

.my-container{
  background-color: #FEFCFF;
}

.my-btn{
  background-color: #FE8E00;
  border-color: #FE8E00;
}

.btn-margin{
    margin-top: 5px;
}

.my-col{
  text-align: center;
}

.nav-logo{
  display: block;
  margin-top: 8px;
  margin-right: 25px;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: #ffe7a4;
}

th{
  background-color: #FE8E00;
}

.my-btn:hover {
  background-color: #FF9F26;
  border-color: #FF9F26;
}

