    </div>
    
    <footer>
      <div class="row">
        <div class="col-md-4 my-col">
            <p><strong>Kapely & Koncerty</strong></p>
        </div>
          <div class="col-md-4 my-col">
            <p>Semestrální práce z předmětu KIV/WEB</p>
        </div>
        <div class="col-md-4 my-col">
          <p>Vytvořil: Tomáš Kleisner</p>
       </div>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="templates/dist/js/bootstrap.min.js"></script>
  </body>
</html>